streamlit==1.38.0
openai-whisper==20231117
google-generativeai==0.6.0
pandas==2.2.3
spacy==3.7.2
python-dotenv==1.0.1
soundfile==0.12.1
ffmpeg-python==0.2.0
# Optional
# streamlit-webrtc==0.47.1

# Prebuilt spaCy English model (no gcc compile)
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
